#container
  #holder
    .hero-unit
      %h1 About this app
      %p
        This page uses Twitter Bootstrap
      %p
        %a.btn.btn-primary.btn-large
          Learn more

= partial "_version", locals: { major: 2, minor: 8 }