#container
  #holder
    .waiter
      %h1(align="center") 
        %img(src="/images/logo.png" align="middle")
        Hello, 
        .highlight
          Sihamsa

      %h1(align="center") 
        This is Sinatra, HAML and SCSS simple app.

      %h2(align="center") 
        We are waiting for your great tasks :)

      %canvas#spinner

