!!!
%head
  %title Hello
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css")
  %link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-responsive.css")
  %link(rel="stylesheet" href="/scss/app.css")
%body
  = yield
  %script(type="text/javascript" src="/vendor/jquery-2.1.0.min.js")
  %script(type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js")
  %script(type="text/javascript" src="/js/app.js")