@import '../colors';
@import '../mixins';

//***************VARIABLE**********************//
  //font-size
  $logo: 100px;
  $logo_little: 50px;

  $time_h2: 24px;
  $time_h2_little: 14px;

  $title_h1: 48px;
  $title_h2: 24px;
  $title_h1_middle: 24px;
  $title_h1_little: 22px;
  $title_h2_little: 18px;

  $table_td: 24px;
  $table_td_middle: 10px;
  $table_td_little: 6px;

  $footer_h1: 48px;
  $footer_h3: 14px;
  $footer_h4: 24px;
  $footer_h1_big: 32px;
  $footer_h1_middle: 20px;
  $footer_h1_little: 16px;
  $footer_h4_little: 10px;
  $footer_h3_little: 10px;
/*************************FONT***********************/
@font-face {
  font-family: HelveticaInseratCyr;
  src: url(../../fonts/HelveticaInseratCyr.woff);
}

@font-face {
  font-family: HelveticaInseratCyr;
  src: url(../../fonts/HelveticaInseratCyr.ttf);
  src: url(../../fonts/HelveticaInseratCyr.otf);
}

/*********************MEDIA***************************/
/*********************Media for 0x1200**************/
@media(min-width: 0) and(max-width: 1200px) {
  .container {
    height: 785px;
  }

  .city {
    left: -150px;
  }
}

/*********************Media for 0x767**************/
@media(min-width: 0)and(max-width: 767px) {
  .item {
    display: none !important;
  }

  .carousel-indicators {
    display: none;
  }

  #logo {
    /* блочные свойства */
    height: 50px;
    width: 50px;
    
    /* оформление */
    background-size: cover;    
   
    p {
      /* позиционирование*/
      top: -25px;
      
      /* шрифт */     
      font-size: $logo_little;
    }
  }
  
  .hr2 {
    left: -125px;
  }
  
  .tiket {
    display: none;
  }
  
  .mobile {
    padding: 0;
  
    li:first-child {
      margin-left: -25px;
    }
  }
  
  .user {
  
    .btn {
      position: relative;
      left: 7px;
    }
    
    img {
      position: relative;
      left: 10px;
    }
    
    .btn {
      padding: 0;
    }
    
    p {
      display: none;
    }
  }
  
  .slider-right {
    top: 18px;
  }
  
  .time {
    left: 50%;
    
    p {
      margin-left: 10px;
    }
    
    h2 {
      /* позиционирование */
      position: relative;
      top: -20px;
      
      /* блочные свойства */
      margin: 0;
      
      /* шрифт */    
      font-size: $time_h2_little;
    }
  }
  
  .title {
    
    h1 {
      font-size: $title_h1_little;
    }
    
    h2 {
      font-size: $title_h2_little;
    }
  }
  
  .main-back {
    /* позиционирование */
    position: absolute;
    top: 630px;
    
    /* блочные свойства */
    height: 60px;
  }
  
  .container {
    padding-bottom: 80px;
  }
  
  .calendar {
    position: relative;
    top: 253px;
  }
  
  .table-calendar {
    top: 387px;
    
    td {
      /* позиционирование */
       padding: 0;

      /* шрифт */    
      font-size: $table_td_little;
    }
  }
  
  .baner {
    background-position: -300px;
  }
  
  .telefon {
    /* позиционирование */
    left: 0;
    right: 0;

    /* блочные свойства */
    margin: 0 auto;
  }
  
  .link {
    font-size: 12px;
  }
  
  .film {
    text-align: center;
  }
  
  .soc-in {
    /* блочные свойства */
    height: 30px;
    width: 30px;
    
    /* оформление */
    background-size: cover;
  }
  
  .fac {
    background-position: -32px 1px;
  }
  
  .twit {
    background-position: -62px 1px;
  }
  
  .soc {
    text-align: center;
    
    p {
      /* позиционирование */
      top: 50px;

      /* блочные свойства */
      display: block;
      
      /* шрифт */
      font-size: 10px;
      text-align: center;     
    }
  }
  
  .every-day {
    /* блочные свойства */
    margin-left: 40px;

    /* шрифт */    
    line-height: 34px;
  }
  
  .footer {
    height: 180px;
    
    h3 {
      /* позиционирование */ 
      left: 0;
      top:7px;
      
      /* блочные свойства */ 
      margin-bottom: 5px;
      
      /* шрифт */
      font-size: $footer_h3_little;     
      
      &:before {
      /* позиционирование */
      position: relative;
      left: 0;
      
      /* блочные свойства */
      height: 12px;
      width: 12px;
      
      /* оформление */
      background-size: cover;
             
      }
    }
    
    h4 {      
      /* блочные свойства */
      display: block;
   
      /* шрифт */     
      font-size: $footer_h4_little;
    }
    
    h1 {
      /* позиционирование */
      left: -35px;
      
      /* шрифт */
      font-size: $footer_h1_little;
      
      &:after {
      /* позиционирование */
      position: absolute;
      top: 13px;
      
      /* блочные свойства */
      display: inline-block;
      height: 14px;
      margin-left: 7px;
      width: 2px;
      }
    }
  }
  
  .right-footer {
    /* позиционирование */
    top: -55px;  
    left: 0;
    
    /* блочные свойства */
    display: block;
    margin: 0;
    width: 100%;
   
    /* шрифт */
    text-align: center;    
    
    p {
      left: 0;
    }
  }
  
  .footer img {
    height: 12px;
    width: 12px;
  }
  
  .main-active:after {
    top:32px;
  }

  #line {
    /* позиционирование */
    position: absolute;
    top: -2px;
    
    /* блочные свойства */
    width: 50%;  
  }
}

/*********************Media for 0x480**************/
@media(min-width: 0) and(max-width: 479px) {
  
  .city p {
    /* блочные свойства */
    margin-left: -12px;  
    
    /* шрифт */
    font-size: 11px;   
  }

  .right-header img {
    width: 15px;
  }

  .mobile img {
    top: 14px;
    left: 5px;
  }

  .user {
    left: 5px;
  }

  .navbar {
    margin-left:-30px;
  }

  .navbar li {
    width: 80px;
    
    p { 
      font-size: 10px;
    }
  }
  
  .time {
    top: 209px;
  }
  
  .title h1 {
    font-size: 18px;
  }
  
  .data h2 {
    font-size: 11px;
  }
  
  .table-calendar {
    /* позиционирование */
    top: 400px;  
    
    /* блочные свойства */
    width: 100%;  
  }
  
  .main-active:after {
      top:20px;
    } 
  
  .main-back p {
    /* позиционирование */
    left: 15px;  
    
    /* шрифт */
    font-size: 8px;    
  }
  
  .table-calendar td {
    font-size: $table_td_little;
  }
}

/****************Mediz font 480*780***************************/
@media(min-width: 480px) and(max-width: 767px) {
  
  .city img {
    left: 76px;
  }
  
  .mobile img {
    top: 8px;
  }
  
  .table-calendar td {
    /* блочные свойства */
    padding: 5px 10px;  
    
    /* шрифт */
    font-size: $table_td_middle;    
  }
  
  .navbar {
    margin-left:-30px;
  }
  
  .title h1 {
    font-size: $title_h1_middle;
  }
  
  .time {
    top: 222px;
  }
  
  .time h2 {
    font-size: $time_h2;
  }
  
  .data h2 {
    font-size: 14px;
  }
  
  .baner {
    background-position: -200px;
  }
  
  .footer h1 {
    font-size: $footer_h1_middle;
  }
  
  .main-active:after {
    top:32px;
  }
}

/****************Mediz for 768*998***************************/
@media(min-width: 768px) and(max-width: 998px) {
  
  .user{
    left: 15px;
  
    .dropdown-toggle {
    display: none;
    }
  }
  
  .mobile img {
    top: 8px;
  }
  
  #logo {
    height: 105px;
    width: 105px;
  
    p {
      font-size: 100px;
    }
  }
  
  .hr2 {
    left: -98px;
  }
  
  .slider-right {
    top: -37px;
  }
  
  .time {
    left: 69%;
    top: 222px;
  
    h2 {
    font-size: 36px;
  }
}

.data h2 {
    font-size: 14px;
  }
  
  #line {
    /* позиционирование */
    top: -8px;  
    
    /* блочные свойства */
    width: 50%;  
  }
  
  .table-calendar {
    top: -116px;
    
    td {
      /* блочные свойства */
      padding: 9px 0;
      width: 80px;

      /* шрифт */      
      font-size: $table_td;
    }
  }
  
  .main td {
    font-size: 14px;
  }
  
  .main-active:after {
    top:37px;
  }
  
  .container {
    padding-bottom: 150px;
  }
  
  .link {
    font-size: 18px;
  }
  
  .soc {
    position: relative;
    left: 15.2%;
    top: 2px;
    
    p {
      top:8px;
    }
  }
  
  .soc-in {
    height: 65px;
    width: 66px;
  }
  
  .fac {
    background-position: -72px 1px;
  }
  
  .twit {
    background-position: -137px 1px;
  }
  .calendar {
    /* позиционирование */
    left: 60px;
    top: 154px;
    
    /* блочные свойства */
    margin: 0 auto;
  }
  
  .tiket {
    display: none;
  }

  .every-day {
    left: 210px;
  }
  
  .footer {
    
    h1 {
      font-size: $footer_h1_big;
      
      &:after {
        /* позиционирование */
        position: absolute;
        top: 5px;
        left: 200px;
        
        /* блочные свойства */
        height: 33px;       
        width: 5px;
      }
    }
    
    h4 {
      /* блочные свойства */
      display: inline-block;
    
      /* шрифт */
      font-size: 12px;      
    }
    
    h3 {
      /* позиционирование */
      top: 37px;
      left: 0;

      /* шрифт */
      font-size: 14px;
      
      &:before {
      /* позиционирование */
      position: absolute;
      left: -28px;
      top:-17px;
      
      /* блочные свойства */
      height: 26px;
      width: 28px;
      }
    }
  }
  
  .right-footer {
    /* позиционирование */
    top: -116px;
    left: 50%;
    
    /* блочные свойства */
    width: 50%;
  }
  
  .baner {
    margin: 0 auto;
  }
  
  .main-back {
    /* позиционирование */
    position: relative;
    top: 73px;
    
    /* блочные свойства */
    height: 76px;
    
    p{
      /* позиционирование */
      left: 204px;
      /* шрифт */     
      font-size: 14px;
    }
  }
  
  .btn {
    padding: 5px;
  }
  
  .film {
    /* блочные свойства */
    margin: 0 auto;
   
    /* шрифт */    
    text-align: center;
  }
}

/****************Mediz for 998*1200***************************/
@media(min-width: 998px) and(max-width: 1200px) {
  
  .user .dropdown-toggle {
    display: none;
  }
  
  .mobile img {
    top: 8px;
  }
  
  #logo {
    height: 105px;
    width: 105px;
    
    p {
      font-size: $logo;
    }
  }
  
  .tiket {
    display: block;
  }
  
  .hr2 {
    left: -98px;
  }
  
  .slider-right {
    top: -37px;
  }
  
  .every-day {
    left: 240px;
  }
  
  .main-active:after {
    top:37px;
  }
  
  .time {
    left: 69%;
    top:222px;
    
    h2 {
    font-size: 36px;
    }
  }

  .data h2 {
    font-size: 14px;
  }

  .table-calendar {
    top: -116px;
  
    td {
      /* блочные свойства */
      padding: 9px 0;
      width: 100px;

      /* шрифт */    
      font-size: $table_td;
    }
  }

  .main td {
    font-size: 14px;
  }

  .calendar {
    /* позиционирование */
    top: 76px;
  
    /* блочные свойства */
    margin: 0 auto;    
  }

  .container {
    padding-bottom: 80px;
  }
  
  .main-back {
    /* позиционирование */
    position: relative;
    top: -5px;
    
    /* блочные свойства */
    height: 76px;
    
    p {
      /* позиционирование */
      left: 204px;
      
      /* шрифт */
     font-size: 14px;
    }
  }

  .link {
    font-size: 18px;
  }

  .soc p {
    top:8px;
  }

  .soc-in {
    height: 65px;
    width: 66px;
  }

  .fac {
    background-position: -72px 1px;
  }

  .twit {
    background-position: -137px 1px;
  }

  .footer {
    
    h1:after {
      /* позиционирование */
      left: 230px;
      top: 4px;
      
      /* блочные свойства */
      height: 33px;
      width: 5px;
    }
    
    h3 {
      /* позиционирование */
      left: 108px;
      top: 49px;
      
      /* шрифт */
      font-size: $footer_h3;
      
      &:before {
        /* позиционирование */
        position: absolute;
        left: -27px;
        top:-17px;
        
        /* блочные свойства */
        height: 26px;        
        width: 28px;
      }
    }
    
    h4 {
      /* блочные свойства */
      display: inline-block;
      
      /* шрифт */
      font-size: $footer_h4;
    }
    
    .right-footer {
      /* позиционирование */
      left: 50%;
      top: -116px;
      
      /* блочные свойства */
      width: 50%;      
    }
  }
  .baner {
    margin: 0 auto;
    width: 100%;
  }
  #line {
    top:-13px
  }
}

/****************Mediz for 1200*MAX***************************/
@media(min-width: 1200px) and(max-width: 9000000px) {
  
  .user .dropdown-toggle {
    display: none;
  }
  
  .mobile img {
    top: 8px;
  }
  
  .content {
    height: 583px;
  }
  
  .footer {
    margin-bottom: -20px;
    
    h1 {
      /* позиционирование */
      left: 29px;
      
      /* шрифт */
      font-size: $footer_h1;
    }
  }
  
  #logo {
    height: 105px;
    width: 105px;
    
    p {
      font-size: 100px;
    }
  }
  
  .tiket {
    display: block;
  }
  
  .hr2 {
    left: -98px;
  }
  
  .slider-right {
    top: -37px;
  }
  
  .main-active:after {
    top:37px;
  }
  
  .time {
    left: 69%;
    top:222px;
    
    h2 {
      font-size: 36px;
    }
  }
  .data h2 {
      font-size: 14px;
    }
  
  .table-calendar {
    top: -118px;
    
    td {
      /* блочные свойства */
      padding: 9px 0;
      width: 132px;
      
      /* шрифт */     
      font-size: $table_td;
    }
  }
  
  .main td {
    font-size: 14px;
  }
  
  .every-day {
    left: 350px;
  }
  
  .main-back {
    /* позиционирование */
    position: relative;    
    top: -81px;
    
    /* блочные свойства */
    height: 76px;
    
    p {
      /* позиционирование */
      left: 204px;

      /* шрифт */
      font-size: 14px;
    }
  }
  
  .title h1 {
    font-size: $title_h1;
  }
  
  .link {
    font-size: 18px;
  }
  
  .soc {
    left: 15.2%;
    
    p {
      top:8px;
    }
  }
  
  .soc-in {
    height: 65px;
    width: 66px;
  }
  
  .fac {
    background-position: -69px 1px;
  }
  
  .twit {
    background-position: -138px 1px;
  }
  
  .footer {
    
    h1:after {
      /* позиционирование */
      left: 304px;
      top: 4px;

      /* блочные свойства */
      height: 33px;
      width: 5px;
    }
    
    h3 {
      /* позиционирование */
      left: 108px;
      top: 49px;
      
      /* шрифт */
      font-size: $footer_h3;
      
      &:before {
        /* позиционирование */
        position: absolute;
        left: -27px;
        top:-17px;

        /* блочные свойства */
        height: 26px;        
        width: 28px;
      }
    }
    
    h4 {
      /* блочные свойства */
      display: inline-block;

      /* шрифт */
      font-size: $footer_h4;
    }

    .right-footer {
      /* позиционирование */
      top: -116px;
      left: 50%;

      /* блочные свойства */
      width: 50%;
    }
  }

  #line {
    top:-13px
  }
}
/****************Mediz for 1200*1300***************************/
@media(min-width: 1200px) and(max-width: 1300px) {
  
  .table-calendar td {
    width: 100px;
  }
  
  .city {
    left: -50px;
  }
}
/**************MAIN*************************/

* {
  margin: 0;
  padding: 0;
}

body {
  /* оформление */
  background: $white;
  overflow-x: hidden;

  /* шрифт */ 
  font-family: Calibri, sans-serif;

  h1 {
    text-shadow: 0 0;
  }
  
  h2 {
    text-shadow: 0 0;
  }
} 
/**********Slider**************/

#myCarousel {
  /* позиционирование */
  position: relative;
  top: 15px;
  
  /* блочные свойства */
  width: 100%;
}

.item {
  /* позиционирование */
  position: absolute;
  
  /* блочные свойства */
  height: 548px;
  
  /* оформление */
  background-image: url(../../images/UWC.jpg);
  background-position: -31px 0;
  background-size: cover;
}

#myCarousel img {
  width: 100%;
}

/********************header*****************/
#header {
  /* позиционирование */
  position: absolute;
  z-index: 1;

  /* блочные свойства */
  height: 68px;
  margin: 0;
  padding: 0;
  width: 100%;
  
  /* оформление */
  background: $red;
}

.left-header {
  /* позиционирование */
  position: absolute;
  top: 16px;
  float: left;
  z-index: 5;
  
  /* блочные свойства */
  height: 52px;
  margin: 0;
  padding: 0;
  width: 50%;

  /* оформление */
  background: $blue;
  
  /* шрифт */  
  text-align: center;  
}

.right-header {
  /* позиционирование */
  position: absolute;
  float: left;
  vertical-align: top;
  left: 50%;  
  top: 16px;

  /* блочные свойства */
  height: 52px;  
  width: 50%; 
}

.container {
  /* блочные свойства */
  height: 792px;
  margin: 0;
  width: 100%;

  /* оформление */
  background: #575757;
}

.dropdown-menu {
  left: 93px;
}

.btn {
  /* оформление */
  background: none;
  border: none;
  box-shadow: none;

  /* шрифт */
  color: $white;
  text-shadow: none;  
  
  &:hover, &:active {
    /* позиционирование */
    background: none;
    border: none;
    box-shadow: none;

    /* шрифт */
    color: $white;
    text-shadow: none;    
  }
}

.user {
  margin-left: 10.62%;
  margin-top: -1px;
  
  p {
    padding: 8px;
  }
  
  &:first-child p {
    margin-right: -7px;
  }
}

.city {
  /* позиционирование */
  position: absolute;
  
  /* блочные свойства */
  height: 52px;
  margin-left: 61.9%;
  margin-top: 1px;

  /* шрифт */  
  color: $white;
  font-size: 14px;  
  letter-spacing: -0.3px;
  line-height: 52px;  
  text-transform: uppercase;
}

.user {
  /* позиционирование */
  position: absolute;

  /* блочные свойства */
  height: 52px;

  /* шрифт */
  color: $white;
  font-size: 14px;  
  line-height: 52px;
  text-transform: uppercase;
}

.city {
  
  img {
    position: absolute;
    left: 68px;
    top: 10px;
  }
  
  p {
    position: absolute;
    left: 134px;
  }
}

.mobile {
  position: relative;
  left: 41.3%;
  
  p {
    /* позиционирование */
    position: relative;
    top: 14px;
    float: right; 
    vertical-align: middle;

    /* шрифт */
    color: $white;    
    font-size: 12px;    
    letter-spacing: -0.28px;
    line-height: 15px;
    text-align: right;   
  }
  
  li {
    /* позиционирование */
    position: relative;
    vertical-align: top;
    
    /* блочные свойства */
    display: inline-block;
    height: 52px;
  }
  
  img {
    /* позиционирование */
    position: relative;
    
    /* блочные свойства */
    display: inline-block;
    margin-left: 5.5px;
  }
}

#apple {
  top: 13px;
}

.carousel-indicators {
  /* позиционирование */
  position: absolute;
  left: 80%;
  top: 77px;

  /* блочные свойства */
  height: 20px;  
  width: 56px;
  
  li {
    /* блочные свойства */
    cursor: pointer;
    height: 8px;
    width: 8px;

    /* оформление */
    background: rgba(0, 0, 0, 0.8);border: none;

  }
  .active {
    /* позиционирование */
    position: relative;top: -1px;

    /* блочные свойства */
    height: 8px;    
    width: 8px;
  }
}

#logo {
  /* позиционирование */
  position: relative;top: 16px;z-index: 5;

  /* блочные свойства */
  margin: 0 auto;

  /* оформление */
  background-image: url(../../images/logo_3.png);

  p {
    /* позиционирование */
    position: relative;
    left: -6px;

    /* шрифт */
    color: $white;
    font-family: HelveticaInseratCyr;
    letter-spacing: -10px;
    line-height: 105px;
    text-align: center;
    text-shadow: 1px 1px 1px, 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
}

.navbar {
  position: absolute;
  top: 175px;
  left: 15.3%;
  z-index: 9;
}

nav li {
  /* позиционирование */
  top: 4px;
  left: -1px;

  /* блочные свойства */
  list-style: none;

  /* шрифт */  
  line-height: 30px;
 
  p {
    /* позиционирование */
    position: relative;

    /* шрифт */
    font-size: 15.78px;
    letter-spacing: -0.1px;    
  }
  
  a {
    /* позиционирование */
    position: relative;

    /* блочные свойства */
    display: inline-block;
    padding: 0 13px;

    /* шрифт */
    color: $white;    
    text-transform: uppercase;
    
    &:before {
      /* позиционирование */
      position: absolute;
      top: 8px;

      /* блочные свойства */
      content: '';
      display: block;
      height: 11px;
      left: -25px;
      width: 11px;

      /* оформление */
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
      border-radius: 14px;
      border: 1px solid $white;
    }
    
    &:hover {
      color: $white;
      
      &:after {
        /* позиционирование */
        position: absolute;
        left: -12px;
        top: 12px;

        /* блочные свойства */
        content: '';
        display: block;
        height: 1px; 
        width: 11px;
        
        /* оформление */
        -moz-box-shadow: 0 0 1px 0;
        -webkit-box-shadow: 0 0 1px 0;
        background: $white;
        border: none;
        box-shadow: 0 0 1px 0;
      }
        /* оформление */
        -moz-border-radius: 12px;
        -moz-box-shadow: 0 0 1px 1px;
        -webkit-border-radius: 12px;
        -webkit-box-shadow: 0 0 1px 1px;
        border-radius: 12px;
        box-shadow: 0 0 1px 1px;

        /* шрифт */     
        text-decoration: none;
    }
  }
}

.hr1 {
  @include gradient(90deg, transparent 28px, rgba(255,255,255,0.3) 72%);

  /* позиционирование */
  left: -160px;
  position: absolute;
  top: 49px;
  z-index: 10;

  /* блочные свойства */
  height: 1px;  
  margin-left: 13px;
  margin-top: 2px;  
  width: 252px;

  /* оформление */
  border: none;
}

.hr2 {
  @include gradient(90deg, rgba(255,255,255,0.3) 72%, transparent 28%);
  @include rotate(90deg);

  /* позиционирование */
  position: absolute;
  top: 200px;

  /*оформление*/
  border: none;
  /* блочные свойства */
  height: 1px;
  margin-top: 2px;
  width: 300px;
}

.slider-right {
  @include gradient-radial(0 -2px, 111px 6px, #000 0, transparent 100%, -3px 0, 13px 330px, #000 0, transparent 100%);

  /* позиционирование */
  position: relative;left: 50%;
  float: left;

  /* блочные свойства */
  height: 310px;  
  width: 50%;  
}

/***********Conteiner************/
.content {
  overflow: hidden;
}

.title {
  /* позиционирование */  
  position: absolute;
  top: 273px;
  left: 50%;
  z-index: 10;
  
  /* блочные свойства */
  display: inline-block;
  height: 100px;
  width: 50%;
 
  /* оформление */
  background: rgba(0, 0, 0, 0.4);
  
  /* шрифт */ 
  color: $white; 
  letter-spacing: -0.1px;   
  text-transform: uppercase;  

  h1 {
    /* позиционирование */
    position: relative;
    left: 13px;
    top: 10px;
   
    /* шрифт */    
    font-weight: bold;   
    line-height: 27px;
  }
  
  h2 {
    /* позиционирование */
    position: relative;
    left: 14px;
    top: 20px;

    /* шрифт */    
    font-size: $title_h2;
    font-weight: bold;
    line-height: 10px;
  }
  
  h1:before {
    /* позиционирование */
    position: absolute;
    top: -15px;

    /* блочные свойства */
    content: '';
    display: block;
    height: 90px;
    left: -16px;
    width: 7px;

    /* оформление */
    background: $red;
  }
}

.time {
  /* позиционирование */
  position: absolute;
  z-index: 10;

  /* блочные свойства */
  display: inline-block;

  p {
    /* позиционирование */
    position: relative;
    left: -5px;

    /* блочные свойства */
    display: inline-block;

    /* шрифт */   
    color: $white;    
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
  }
  h2 {
    /* блочные свойства */
    display: inline-block;
    padding: 0 5px;

    /* шрифт */
    color: $white;    
    font-weight: 100;
    text-shadow: 1px 1px 1px #000;
  }
}

.data {
  /* позиционирование */
  position: absolute;
  top: 355px;
  left: 50%;
  z-index: 10;

  /* блочные свойства */
  display: inline-block;
  width: 50%;

   h2 {
    /* позиционирование */
    position: relative;
    left: 17px;
    top: 1px;

    /* шрифт */    
    color: #000005;
  }
}

/**************Calendar*******************/

.table-calendar {
  /* позиционирование */
  position: relative;
  z-index: 10;

  /* блочные свойства */
  margin: 0 auto;

  /* шрифт */  
  text-align: center;

  td {
    color: #97c9ff;
  }
}

.calendar {
  /* позиционирование */
  position: relative;
  /* блочные свойства */
  margin: 0 auto;
}

.main-back {
  /* позиционирование */
  z-index: 10;

  /* блочные свойства */
  width: 100%;

  /* оформление */
  background: rgba(0, 0, 0, 0.4);
  /* шрифт */  
  color: #9a9da4;
  
  p {
    position: absolute;
    top: 13px;
  }
}

.main td {
  /* позиционирование */
  position: relative;
  top: -8px;

  /* блочные свойства */
  padding-bottom: 4px;

  /* оформление */
  border: none;

  /* шрифт */   
  color: #97c9ff;  
  text-transform: uppercase;
}
 
 .main td:before {
  @include gradient(transparent, #464545, transparent);

  /* позиционирование */
  position: absolute;top:100%; right: -1px;

  /* блочные свойства */
  content: '';
  height: 600%;
  width: 1px;  
}

.main:after {
  background: transparent;
}

.main:before {
  background: transparent;
}

.first:after {
  background: transparent;
}

.first:before {
  background: transparent;
}

.last:before {
  display: none
}

table {
  border-collapse: separate;
  border-spacing: 3px 2px;
  
  td {
    cursor: pointer;
  }
  
  tr:after {
    /* позиционирование */
    position: absolute;
    right: 0;

    /* блочные свойства */
    content: '';
    height: 1px;
    width: 100%; 

    /* оформление */
    background: linear-gradient(90deg,transparent, #717171,transparent);
  }

  tr:before {
    /* позиционирование */
    position: absolute;
    right: 0;
    
    /* блочные свойства */
    content: '';
    height: 2px;
    width: 100%;
   
    /* оформление */
    background: linear-gradient(90deg,transparent, #464545,transparent);
  }
}

.main-active:after {
  /* позиционирование */
  position: absolute;
  left: 2px;

  /* блочные свойства */
  content: '';
  display: inline-block;
  height: 4px;
  width: 100%;

  /* оформление */
  background: #2bb0ff;
}

.active-td {
  /* позиционирование */
  position: relative;
  left: -1px;

  /* оформление */
  outline: 1px solid $blue;
}

#today {
  /* оформление */
  background: $blue;

  /* шрифт */ 
  color: $white;
}

/***************Ticket*****************/

.telefon {
  /* позиционирование */
  position: absolute;
  top: 451px;
  left: 13px;
  z-index: 11;

  /* блочные свойства */
  display: inline-block;
  height: 111px;  
  width: 173px;

  /* оформление */
  -moz-border-radius: 10px 0 0 0;
  -moz-box-shadow: inset -6px 0 10px -3px black;
  -webkit-border-radius: 10px 0 0 0;
  -webkit-box-shadow: inset -6px 0 10px -3px black;
  background: $red;
  border-radius: 10px 0 0 0;
  box-shadow: inset -6px 0 10px -3px black;
}

.telefon-ins {
  /* позиционирование */
  position: relative;
  left: -1px;
  z-index: 11;

  /* блочные свойства */
  display: inline-block;
  height: 113px;
  margin-top: -1px;
  overflow: visible;
  padding-top: 2px;
  width: 172px;

  /* оформление */
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  background: transparent;
  border-left: 3px dashed $white;
  border-radius: 10px 0 0 0;
  border-top: 3px dashed $white;

  .down{
    /* позиционирование */
    position: absolute;
    top: 39px;
    left: 52px;
    z-index: 12;

    /* блочные свойства */
    display: block;
    height: 32px;    
    width: 71px;

    /* оформление */
    background: none;
    background-image: url(../../images/down.png);

    /*шрифт*/
    font-size: 0;   
  }
  .down:active{
    outline: none;
  }
  .down:focus{
    outline: none;
  }

  h4 {
    /* позиционирование */
    position: relative; 
    top: 6px;
    left: 2px;

    /* блочные свойства */
    margin-bottom: 7px;
    margin: 0;

    /* шрифт */
    color: $white;
    font-size: 14px;
    letter-spacing: 1.7px; 
    line-height: 16px;   
    text-align: center;
    text-transform: uppercase;
  }
  
  h3 {
    /* блочные свойства */
    margin: 0;margin-bottom: 2px;

    /* шрифт */
    color: $white;    
    font-size: 18px;
    letter-spacing: 1.7px;    
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    /* позиционирование */
    position: relative;
    top: -13px;

    /* блочные свойства */
    margin: 0;

    /* шрифт */
    color: $white;
    font-size: 12px;   
    line-height: 13px;    
    text-align: center;    
  }
}

.telefon-ins-input {
  /* позиционирование */
  position: absolute;
  top: 109px;
  left: -3px;
  
  /* блочные свойства */
  display: inline-block;
  height: 42px;  
  width: 173px;

  /* оформление */
  -moz-border-radius: 0 0 0 10px;
  -moz-box-shadow: 0 10px 10px;
  -moz-box-shadow: inset -6px 0 10px -3px black;
  -webkit-border-radius: 0 0 0 10px;
  -webkit-box-shadow: 0 10px 10px;
  -webkit-box-shadow: inset -6px 0 10px -3px black;
  background: $white;
  border-radius: 0 0 0 10px;
  box-shadow: 0 10px 10px;
  box-shadow: inset -6px 0 10px -3px black;
}

.telefon-input input {
  /* позиционирование */
  position: relative;left: 6px;top: -14px;

  /* блочные свойства */
  height: 18px;
  padding: 0;
  width: 12px;

  /* оформление */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #c9c7c7;
  border-radius: 0;
  border: none;

  /* шрифт */  
  text-align: center;  
}

.after {
  /* позиционирование */
  position: relative;
  left: 6px;
  top: 14px;

  /* блочные свойства */
  display: inline-block;
  height: 1px;
  width: 12px;

  /* оформление */
  -moz-box-shadow: 0 0 1px #e4e3e3;
  -webkit-box-shadow: 0 0 1px #e4e3e3;
  background: #c9c7c7;
  border: none;
  box-shadow: 0 0 1px #e4e3e3;
}

.three {
  
  &:first-child {
    position: relative;
    left: 7px;
  }
  display: inline-block;
  left: 3px;
  margin-right: 12px;
  position: relative;
  
  input, .after {
    margin-left: -2px;
  }
}

.two {
  display: inline-block;
  margin-right: 8px;
  
  input, .after {
    margin-left: -2px;
  }
}

/************Baner**************/

.baner {
  /* позиционирование */
  position: relative;top: 30px;

  /* блочные свойства */
  height: 90px;  
  margin: 0 auto;  
  width: 730px;

  /* оформление */
  background-image: url(../../images/baner.png);  
}

.prokat {
  /* позиционирование */
  position: relative; 
  top: 42px;
  left: 50%;
  float: left;
  /* блочные свойства */
  margin: 0 auto;
}

.tab-content {
  /* позиционирование */
  position: relative;
  right: 50%;
  
  /* блочные свойства */
  overflow: visible;
}

.link {
  /* позиционирование */
  position: relative;
  top: 17px;
  left: -24px;
  display: inline-block;
  
  /* оформление */
  border: none;
  
  /* шрифт */ 
  font-weight: 900;  
  text-transform: uppercase;
  
  .active a {
    color: #242527;
    text-decoration: none;
  }

  li {
    /* блочные свойства */
    display: inline-block;

    /* шрифт */   
    letter-spacing: -0.2px;
  }
}

.film {
  position: relative;
}

.film-ins {
  /* позиционирование */
  position: relative;

  /* блочные свойства */
  display: inline-block;
  height: 257px;
  margin:0 4px;  
  width: 179px;

  /* оформление */
  background: #ccc;
}

.film-ins-1 {
  background-image: url(../../images/stalin.png);
}

.film-ins-2 {
  background-image: url(../../images/house.png);
}

.film-ins-3 {
  background-image: url(../../images/escape.png);
}

.film-ins-4 {
  background-image: url(../../images/gravit.png);
}

.film-ins-5 {
  background-image: url(../../images/romeo.png);
}

.star {
  @include gradient(159deg, transparent 23%, $red 23%);

    /* позиционирование */
    position: relative;
    top: 160px;

    /* блочные свойства */
    height: 97px;  
    vertical-align: bottom;
    width: 179px;

    /* оформление */
    background-repeat: no-repeat;

  h3 {
    /* позиционирование */
    position: absolute;
    left: 14px;

    /* блочные свойства */
    bottom: 0;

    /* шрифт */    
    color: $white;
    font-size: 18px;
    line-height: 22px;    
    text-transform: uppercase;
  }
  img {
    position: relative;
    float: right;
    right: 11px;
    top: 12px;
  }
  .star-ins {
    /* позиционирование */
    position: absolute;
    left: 68px;
    top:18px;

    /* блочные свойства */
    display: inline-block;

    .star-on {
      /* позиционирование */
      position: relative;

      /* блочные свойства */
      display: inline-block;
      height: 11px;
      width: 11px;

      /* оформление */
      background-image: url(../../images/star_on.png);
    }
    .star-off {
      /* позиционирование */
      position: relative;

      /* блочные свойства */
      display: inline-block;
      height: 11px;
      width: 11px;

      /* оформление */
      background-image: url(../../images/star_off.png);
    }
  }
  .strelka {
    /* позиционирование */
    position: absolute;
    left: 150px;
    top:13px;

    /* блочные свойства */
    display: inline-block;    
    height: 18px;
    width: 18px;

    /* оформление */
    background-image: url(../../images/strelka.png);
  }
}

/***************FOOTER*********************/

.footer {
  /* позиционирование */
  position: relative;
  top: 68px;
  bottom: 0;

  /* блочные свойства */
  display: inline-block;  
  width: 100%;

  /* оформление */
  background: #575757;
  
}

.soc-in {
  /* позиционирование */
  position: relative;
  top: 7px;
  background-repeat: no-repeat;

  /* блочные свойства */
  display: inline-block;

  /* оформление */
  background-image: url(../../images/soc.png);  
}

.soc {
  position: relative;
  
  p {
    /* позиционирование */
    position: relative;

    /* блочные свойства */
    margin: 0;

    /* шрифт */
    color: $white;   
  }
}

.right-footer {
  /* позиционирование */
  position: relative;

  /* шрифт */
  color: $white;  
}

.every-day {
  /* позиционирование */
  position: absolute;
  top: -12px;

  /* блочные свойства */
  display: inline-block;  
  width: 300px;
}

.right-footer {
  
  p {
    /* позиционирование */
    position: absolute;
    top: 37px;

    /* блочные свойства */
    display: inline-block;

    /* шрифт */    
    font-size: 14px;   
  }
  
  h4 {
    position: absolute;
    top: 45px;
  }
}

.footer-ins {
  /* позиционирование */
  position: absolute;
  top: 38px;

  /* блочные свойства */
  height: 33px;
  width: 5px;

  /* оформление */
  background: #ff003c;  
}

.footer {
  
  h1 {
    /* позиционирование */
    position: relative;    
    top: 25px;

    /* шрифт */
    font-weight: 100;
    
    &:after {
      /* позиционирование */
      position: absolute;

      /* блочные свойства */
      content: '';

      /* оформление */
      background: $red;      
    }
  }

  h3 {
    /* позиционирование */
    position: relative;

    /* блочные свойства */
    margin: 0;

    /* шрифт */   
    font-weight: 100;
    letter-spacing: 0.1px;
    line-height: 9px;

    &:before {
      /* блочные свойства */
      content: '';
      display: inline-block;

      /* оформление */      
      background: url(../../images/trigle.png);
      background-size: cover;   
    }
  }
  
  img {    
    position: absolute;
    top: 98px;
    left: 69px;
  }
}

#line {
  position: absolute;
  left: 0;
}
